:root{
    --colorTextos: #ffffff67;
}

*,
::before,
::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'roboto';
    background-image: url(/imagen/textura-de-madera.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario{
    background: rgba(0, 0, 0, .3);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    color: white;
}

h1{
    text-align: center;
    font-weight: 700;
}

form{
    width: 600px;
    background: #ffff;
    padding: 40px 0;
    box-shadow: 0 0 6px 0 rgba(255, 255, 255, 0.8);
    border-radius: 20px;
}

.form{
    width: 100%;
    margin: auto;
}

.form .grupo{
    position: relative;
    margin: 45px;
}

.input{
    background: none;
    color: #c6c6c6;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--colorTextos);
}

input:focus{
    outline: none;
    color: #ffffff67;
}

.label{
    color: var(--colorTextos);
    font-size: 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 10px;
    transition: 0.5s ease-in-out;
    pointer-events: none;
}

input:focus ~ label,
input:valid ~ label{
    top: -14px;
    font-size: 12px;
    color: #ffffff67;
}

.barra{
    position: relative;
    display: block;
    width: 100%;
}

.barra::before{
    content: "";
    height:  2px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to right, #B06AB3, #4568DC) ;
    transition: 0.3s ease width;
    left: 0;
}

input:focus~.barra::before{
    width: 100%;
}

button{
    background: rgba(213, 63, 63, 0.8);
    color: white;
    border: none;
    display: block;
    width: 80%;
    margin: 10px auto;
    height: 40px;
    cursor: pointer;
}

.form .radio{
    position: relative;
    margin: 45px;

}
