body{
    background-image: url(/imagen/textura-de-madera.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'roboto';
    padding: 200px;
}

h2{
    color: rgba(103, 174, 114, 0.624);
    text-align: left;
}

.formulario{
    background: rgba(0, 0, 0, .3);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    color: white;
}

a{
    color: rgba(103, 174, 114, 0.624);
}